################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/External/v16
/bin
*.ini
*.gitattributes
*.md
/External/LICENSE
